.switcher a{
	display: inline-block !important;
	color: #8b3f27 !important;
	display: inline-block !important;
    padding: 0 !important;
    margin: 0 2px !important;
}

.switcher a.selected {
	color: #777 !important;
}

.switcher {
	color: #8b3f27;
    position: relative;
    top: 43px;
    margin-right: 10px;
}

#about {
	margin-top: 0 !important;
}

/* Hero */
.hero-large {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 270px;
	position: relative;
}

.hero-large h2 {
	color: white;
	position: absolute;
	bottom: 20px;
	text-transform: uppercase;
	font-family: "Big Noodle Titling";
	font-size: 28px;
}

.hero-large h2 span {
	height: 3px;
	width: 45px;
	display: block;
	background: white;
}

.hero-large a {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.hero-small {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 180px;
	position: relative;
}

.hero-small a {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.hero-small h2 {
	color: white;
	position: absolute;
	bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	text-transform: uppercase;
	font-family: "Big Noodle Titling";
	font-size: 28px;
}


@media screen and (min-width: 767px) {
	.hero-large {
		height: 540px;
	}

	.hero-large h2 {
		font-size: 48px;
	}
}


/* spacer */
.no-padding {
	padding: 0;
}

.p-bottom-15 {
	padding-bottom: 25px;
    font-size: 15px !important;
    padding-top: 5px;;
}