@font-face {
font-family: 'Big Noodle Titling';
src: url("../fonts/big_noodle_titling.ttf");
src: url("../fonts/big_noodle_titling.ttf") format("opentype");
}

@font-face {
font-family: 'Frutiger CE 45 Light';
src: url("../fonts/Frutiger_CE_45_Light.ttf");
src: url("../fonts/Frutiger_CE_45_Light.ttf") format("opentype");
}

@font-face {
font-family: 'Frutiger LT 47 Light Condensed';
src: url("../fonts/Frutiger_LT_47_Light_Condensed.ttf");
src: url("../fonts/Frutiger_LT_47_Light_Condensed.ttf") format("opentype");
}
.slider-options:after {
    content: "";
    display: table;
    clear: both;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.yellow {
	color: #FF0;
}

.green {
	color: #6F6;
}

main {
    display: block;
}

body {
    line-height: 1;
}

ol,ul {
    list-style: none;
    font-family: "Big Noodle Titling";
	font-size: 15pt;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a:focus {
    outline: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display: block;
}

audio,canvas,video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

sub,sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

button,input,select,textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button,input {
    line-height: normal;
    *overflow: visible;
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]:-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

body {
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    font-family: 'Frutiger LT 47 Light Condensed' !important;
}

a {
    color: #e46948;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    text-decoration: none !important;
}

a:hover {
    color: #fff;
}

h1,h2,h3,h4,h5 {
    color: #333333;
}

::-webkit-input-placeholder {
    color: #667991;
}

:-moz-placeholder {
    color: #667991;
}

::-moz-placeholder {
    color: #667991;
}

:-ms-input-placeholder {
    color: #667991;
}

.button {
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Big Noodle Titling' !important;
}

.button.default {
    background: #e46948;
    color: #fff;
}

.page-section {
    /*padding-top: 120px;*/
}

.page-heading {
    margin-bottom: 65px;
}

.page-title {
    padding-top: 130px;
    font-size: 32pt;
    font-family: 'Big Noodle Titling' !important;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.page-subtitle {
    font-size: 13pt;
    font-family: 'Frutiger LT 47 Light Condensed' !important;
    padding-bottom: 15px;
}
.page-button {
    padding-bottom: 140px;
}
.page-icon-holder {
    text-align: right;
}

.page-icon {
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: #e46948;
    color: #fff;
    display: inline-block;
}
hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 3px solid #333 !important;
    margin: 1em 0;
    padding: 0;
    width: 50px;
}
.social-icons {
    margin-top: 30px;
}

.social-icons li {
    display: inline-block;
}

.social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #516073;
    text-align: center;
    color: #fff;
}

.social-icons a:hover {
    background: #e46948;
}
.slider-options {
    position: absolute;
    width: 100%;
    height: 80px;
    line-height: 80px;
    bottom: 0;
    left: 0;
}

#home {
    background: #e6e6e6;
    background-size: cover;
}

.slider-nav {
    margin-top: 21px;
}

.carousel-control {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    font-size: 18px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    text-shadow: none;
    display: block;
    float: left;
    opacity: 1;
}

.carousel-control.left {
    margin-right: 5px;
}

.carousel-control span {
    line-height: 40px;
    display: block;
    width: 100%;
    height: 100%;
}

.carousel-control:hover {
    color: #e46948;
    border-color: #e46948;
}

.carousel-control.left {
    position: relative;
    background-image: none !important;
}

.carousel-control.right {
    position: relative;
    background-image: none !important;
}

.carousel-indicators {
    position: relative;
    bottom: auto;
    left: auto;
    width: auto;
    margin-left: 0;
    line-height: 80px;
}

.carousel-indicators li {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #667991;
    border-radius: 8px;
    border: 0;
}

.carousel-indicators .active {
    width: 8px;
    height: 8px;
    background: #e46948;
    margin: 1px;
}

html,body {
    height: 100%;
}

.carousel,.item,.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-inner>.item>img,.carousel-inner>.item>a>img {
    min-width: 100%;
    max-height: 100%;
}

.item {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background: url(../images/bg_amman.png);*/
    background: #e6e6e6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/slide-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/slide-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carousel-caption {
    position: absolute;
    width: 100%;
    left: 0;
    /*top: 15%;*/
    bottom: auto;
    text-shadow: none !important;
}

.carousel-caption h2 {
    font-size: 50px;
    font-family: 'Big Noodle Titling' !important;
    margin-bottom: 30px;
}

.carousel-caption p {
    font-size: 13pt;
    line-height: 20px;
    font-family: 'Frutiger LT 47 Light Condensed' !important;
    margin-bottom: 15px;
}
.carousel-caption h4 {
    font-size: 10pt;
    line-height: 20px;
    font-family: 'Frutiger LT 45 Light' !important;
    margin-bottom: 15px;
}

@media screen and (max-width: 992px) {
    .carousel-caption {
        /*top: 10%;*/
    }

    .carousel-caption h2 {
        font-size: 24px;
    }

    .carousel-caption p {
        font-size: 16px;
    };
}

@media screen and (max-width: 768px) {
    .carousel-caption {
        /*top: 5%;*/
    };
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

#about {
    background: url(../images/bg_home_1.png);
    margin-top: -100px;
    width: 100%;
    /*height: 100%;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

#about p {
    font-size: 13pt;
    font-family: 'Frutiger LT 47 Light Condensed' !important;
    color: #333333;
}

#gallery {
    background: url(../images/bg_home_2.png);
    width: 100%;
    /*height: 100%;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

#gallery p {
    font-size: 13pt;
    font-family: 'Frutiger LT 47 Light Condensed' !important;
    color: #333333;
}

#contact {
    background: url(../images/bg_home_3.png);
    width: 100%;
    /*height: 100%;*/
    background-repeat: no-repeat;
	background-size: cover;
    background-position: left;
}

#contact h3 {
    font-size: 32pt;
    font-family: 'Big Noodle Titling' !important;
    text-transform: uppercase;
    margin-bottom: 7px;
    color:#fff;
}
#contact hr{
    display: block;
    height: 2px;
    border: 0;
    border-top: 3px solid #fff !important;
    margin: 1em 0;
    padding: 0;
    width: 50px;
}
#contact p {
    font-size: 13pt;
    font-family: 'Frutiger LT 47 Light Condensed' !important;
    color: #fff;
}

#tentang-kami {
    background: url(../images/bg_tentang_kami_1.png) no-repeat;
    margin-top: -100px;
    padding-top: 100px;
    width: 100%;
    /*height: 100%;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#tentang-kami h2 {
    font-size: 61pt;
    font-family: 'Big Noodle Titling' !important;
    color: #fff;
}
#tentang-kami p {
    font-size: 13pt;
    font-family: 'Frutiger LT 47 Light Condensed' !important;
    color: #fff;
}
#tentang-kami2 {
    background: #fff;
    /*margin-top: -130px;*/
}

#tentang-kami2 p {
    font-size: 13pt;
    font-family: 'Frutiger LT 47 Light Condensed' !important;
    color: #666;
}
#tentang-kami3 {
    background: url(../images/bg_tentang_kami_3.png);
}
#tentang-kami3 h2 {
    font-size: 61pt;
    font-family: 'Big Noodle Titling' !important;
    color: #fff;
    margin-bottom: 300px;
}
#tentang-kami4 {
    background: #fff;
}
#tentang-kami4 h3 {margin-top: -100px;}
#tentang-kami4 p {
    font-size: 13pt;
    font-family: 'Frutiger LT 47 Light Condensed' !important;
    color: #666;
}
#berita {
    background: url(../images/bg_berita.png) no-repeat;
    margin-top: -100px;
    padding-top: 100px;
    width: 100%;
    /*height: 100%;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#berita h2 {
    font-size: 61pt;
    font-family: 'Big Noodle Titling';
    color: #fff;
}
#berita p {
    font-size: 13pt;
    font-family: 'Frutiger LT 47 Light Condensed' !important;
    color: #fff;
}
#berita2 {
    background: #fff;
    /*margin-top: -130px;*/
}

#berita2 p {
    font-size: 13pt;
    font-family: 'Frutiger LT 47 Light Condensed' !important;
    color: #666;
}
#kontak {
    background-color:#f5fbff;
	background: url(../images/bg_kontak.png) no-repeat;
    margin-top: -130px;
    width: 100%;
    /*height: 100%;*/
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
}

#kontak h2 {
    font-size: 50pt;
    font-family: 'Big Noodle Titling' !important;
    color: #000;
}
#kontak p {
    font-size: 13pt;
    font-family: 'Frutiger LT 47 Light Condensed' !important;
    color: #333333;
}
.kontak-ico >i{
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border: 1px solid #027d00;
    border-radius: 100px;
    color: #027d00;
    display: inline-block;
    /*position: absolute;*/
    font-size: 12px;
}
.site-footer {
    background: #8b3f27;
    /*padding: 30px 0;*/
}

.site-footer a {
    color: #e46948;
}

.go-top {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff !important;
    margin-bottom: 30px;
}

.go-top:hover {
    color: #e46948 !important;
    border-color: #e46948;
}
.carousel-caption{color: #333 !important;}
.social-ico >i{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #8b3f27;
    border-radius: 100px;
    color: #8b3f27;
    display: inline-block;
    position: absolute;
    margin: 25px 0 0 -20px;
    font-size: 14px;
}

.social-ico >i:hover {
    color: #666;
    border-color: #666;
}
.footer-text{
    font-family: "Frutiger LT 47 Light Condensed" !important;
    font-size: 8pt;
}


/*animation element*/

.animation-element {
  opacity: 0;
  position: relative;
}
/*animation element sliding left*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
/*animation element sliding right*/

.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px);
}

.animation-element.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/*media queries for small devices*/
@media screen and (max-width: 678px){
  /*testimonials*/
  .animation-element.slide-left.testimonial,
  .animation-element.slide-left.testimonial:nth-of-type(odd),
  .animation-element.slide-left.testimonial:nth-of-type(even){
    width: 100%;
    margin: 0px 0px 20px 0px;
  }
  .animation-element.slide-left.testimonial .right,
  .animation-element.slide-left.testimonial .left,
  .animation-element.slide-left.testimonial .content,
  .animation-element.slide-left.testimonial .rating{
    text-align: center;
    float: none;
  }
  .animation-element.slide-left.testimonial img{
    width: 85px;
    height: 85px;
    margin-bottom: 5px;
  }
}

.pull-right{
    margin-left:0 !important;
    margin-top: -75px;
}
.home-content h2{
    font-family: "Big Noodle Titling" !important;
    font-size:28pt;
    color: #000;
    line-height: 34px;
    margin-top: 32px;
    margin-bottom: 15px;
}
.home-content p{
    font-family:"Frutiger LT 47 Light Condensed" !important;
    font-size: 13pt;
    color:#333333;
    line-height: 20px;
    margin-bottom: 15px;
}

@media screen and (min-device-width : 768px){
    .tonton-button{
        position: absolute;
        z-index:77; 
        top: 0; 
        right: 0; 
        border: 0;
        margin-top:140px;
    }
    .go-down {
        position: absolute;
         z-index:99;
        top: 0; 
        right: 100px; 
        border: 0;
        margin-top:35%;
    }
    .go-down:hover {
        color: #e46948;
    }
    .navbar-collapse{
        padding-top: 20px !important;
    }
    .split-left{display: none;clear: left;}
    .mobile{display: none !important;}
    .spacer{margin: 30px;}
    .spacer2{margin: 15px;}
}
@media screen and (max-width: 648px){
    .tonton-button{
        position: absolute;
        z-index:99;
        top: 85%;
        border: 0;
        text-align: center;
        width: 100%;
    }
    .go-down {
        display:none;
    }
	.pull-right{
		display:none;
	}
    .navbar-centerr{padding-top: 30px;}
    .col-sm-pull-right {
      float: right;
    }
    .desktop{display: none !important;}
    .logo{
        text-align: center !important;
        /*margin: -60px 0 15px 0;*/
        margin: 0 0 15px 0;
    }
    .spacer{margin: 15px;}
    .spacer2{margin: 10px;}
	#kontak h2 {
    font-size: 30pt;
    font-family: 'Big Noodle Titling' !important;
    color: #000;
}
}
@media screen and (max-width: 320px){
    .tonton-button{
        position: absolute;
        z-index:99;
        top: 85%;
        border: 0;
        text-align: center;
        width: 100%;
    }
    .go-down {
        display:none;
    }
	.pull-right{
		display:none;
	}
    .navbar-centerr{padding-top: 30px;}
    .col-sm-pull-right {
      float: right;
    }
    .desktop{display: none !important;}
    .logo{
        text-align: center !important;
        margin: -60px 0 15px 0;
    }
    .spacer{margin: 15px;}
	#kontak h2 {
    font-size: 30pt;
    font-family: 'Big Noodle Titling' !important;
    color: #000;
}
}
.logo-home{
        text-align: center !important;
        margin: 20px 0 15px 0;
    }
.busi-btn{    border-radius: 0px;   color: #8b3f27 !important;  font-size: 24pt; font-weight: 400; }
.busi-btn:hover{    border-radius: 0px; color: #666666 !important;  font-size: 24pt; font-weight: 400; }
.busi-btn-active,.busi-btn-active:hover{    border-radius: 0px; color: #666666 !important;  font-size: 24pt; font-weight: 400; }

.navbar-centerr{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    text-align: center;
}
.business-logo-align {
    float: left;
    padding: 5px 25px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.sambutan{
    padding-left: 15px;
    padding-right: 15px;
}
.navbar {
    width: 100% !important;
    background-color:rgba(255,255,255, 0.7);
	z-index:99;
    border-radius: 0 !important;
}
.navbar .ul{
    font-family: "Big Noodle Titling" !important;
}
.navbar-default{
    height:100px;
    background-color:rgba(255,255,255, 0.7);
	border:none;
}
.navbar-toggle{
    color: #8b3f27;
    font-family:"Big Noodle Titling" !important;
    font-size: 18pt;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    margin-top: 25px;
	z-index:99;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border:none !important;
}
body.menu-open:after {
    content: '';
    display: block;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(255,255,255,0.7);
  }
.split-left{clear: left;}
.full-image {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: auto;
    margin: auto;
    overflow: auto;
}
.navbar-nav > li > a{margin-left: 10px;}